<div>
    <button (click)="toggleForm()">
        <span *ngIf="formulario.enabled; else editar">Cancelar</span>
        <ng-template #editar>Editar</ng-template>
    </button>

    <button (click)="show()">Show Form</button>
    <button (click)="resetForm()">Reset Form</button>
    <button (click)="updateFormValue()">Update Initial Value</button>
    <button (click)="save()">Save values</button>
</div>

<div [formGroup]="formulario">
    <table [class.enabled]="formulario.enabled">
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of itens" [formGroupName]="item.id">
                <td>{{ item.id }}</td>

                <td [class.error]="formulario.isInvalid(item.id + '.nome')">
                    <input type="text" formControlName="nome">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<pre>{{ formulario.viewForm() | json }}</pre>
