

<div class="table-wrapper">
    <div class="table-controls">
        <div>
            <button (click)="changePage(-1)" [disabled]="!canChangePage(-1)">Previous</button>
            
            <span *ngIf="canChangePage(-(numOptions + 1))" (click)="setPage(1)"> 1 ... </span>

            <span *ngFor="let _ of [].constructor(numOptions); index as i">
                <span 
                    *ngIf="canChangePage(-(numOptions - i))" 
                    (click)="changePage(-(numOptions - i))"
                > 
                    {{ -(numOptions - i) + page }} 
                </span>
            </span>
    
            <span style="color: red"> {{ page }} </span>

            <span *ngFor="let _ of [].constructor(numOptions); index as i">
                <span 
                    *ngIf="canChangePage(i+1)" 
                    (click)="changePage(i + 1)"
                > 
                    {{ i + 1 + page }}
                </span>
            </span>
            

            <span *ngIf="canChangePage(numOptions + 1)" (click)="setPage(numPages)"> ... {{ numPages }} </span>

            <button (click)="changePage(1)" [disabled]="!canChangePage(1)">Next</button>
        </div>

        

        <div>
            <input type="text" [(ngModel)]="filterText" (ngModelChange)="filterRows()" [ngModelOptions]="{ updateOn: 'blur'}">
            
            <select [(ngModel)]="itemsPerPage" (ngModelChange)="setPage(1)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>

    <table>
        <thead> 
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>
                    {{ row.id }}
                </td>

                <td>
                    {{ row.name }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
